* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #282c34;
    padding: 15px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
